<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Oxywa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <section class="hero">
      <div class="hero-body">
        <p class="title">
          Oxywa
        </p>
        <p class="subtitle">
          Mon tout premier blog
        </p>
      </div>
    </section>
    <ul>
        <!-- "A powerful menu"  -->
        <li><a href="index.html">Home</a></li>
    </ul>
    <hr>
    {{#title}}<h2>{{.}}</h2>{{/title}}
    {{#description}}<p>{{.}}</p>{{/description}}
    <main class="content">
        {{{body}}}
    </main>
    <hr>
    copyright <strong>Hakb</strong>
</body>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
        <strong>Oxywa</strong>, généré avec <a href="https://github.com/xhtmlboi/yocaml">YOCaml</a>.
        </p>
    </div>
</footer>
</html>