<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Oxywa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <section class="hero">
      <div class="hero-body">
        <p class="title">
          <a href="index.html">Owyxa</a>
        </p>
        <p class="subtitle">
          Mon tout premier blog
        </p>
      </div>
    </section>
    <div class="columns is-centered">
      <div class="column is-half">
        {{#description}}<p>{{.}}</p>{{/description}}
      </div>
    </div>
    <div class="columns is-multiline content">
      <div class="column is-narrow"></div>
      <div class="column is-narrow">
        {{{body}}}
      </div>
    </div>
</body>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
        <strong>Oxywa</strong>, généré avec <a href="https://github.com/xhtmlboi/yocaml">YOCaml</a>.
        </p>
    </div>
</footer>
</html>